---
layout: default
title: Projects
description: This page collects projects I work on out of curiosity or necessity. Topics include numerical simulation, machine learning, data analysis, and low-level systems work.
permalink: /projects/
---

<!-- begin projects-page -->
<section class="section projects-page">
  <div class="container">
    <div class="section__inner">
      <div class="row">

        <div class="col col-12 col-d-12"> <!--col col-8 -->
          <section class="hero-page">
            <div class="hero-page__inner">
              {% if page.title %}
              <h1 class="hero-page__title">{{ page.title }}</h1>
              {% endif %}
              {% if page.description %}
              <p class="hero-page__description">{{ page.description }}</p>
              {% endif %}
            </div>
          </section>
          <div class="row">
            {% for post in site.posts %}
              {% include article.html class="col col-4 col-d-6 col-t-12 grid__post animate" %}
            {% endfor %}
          </div>
        </div>
        
      </div>

    </div>
  </div>
</section>
<!-- end projects-page -->