/* timeline.scss - background timeline */

.timeline-row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.timeline-ico {
    grid-column: span 1;
    vertical-align: top;
    border-left: 2px solid #cfcfcf;
    position: relative;

    img {
        border-radius: 5px;
        width: 100%;
        max-width: 80px;
        margin-left: 15px;

        @media (max-width: $mobile) {
            border-radius: 2px !important;
        }
    }
}

.timeline-desc {
    grid-column: span 10;
    vertical-align: top;
    font-size: 17px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.timeline-entry {
}

.timeline-entry-dot {
    position: absolute;
    top: 0px;
    left: -8px;
    width: 10px;
    height: 10px;
    border-radius: 7px;
    background-color: #cfcfcf;
    border: 2px solid white;
}

.timeline-timespan {
    grid-column: span 1;
    font-size: 14px;
    text-align: right;
    padding-right: 12px;
    color: #bbb;
}