---
layout: default
---

<!-- begin page -->
<div class="container">
  <div class="row">

    <div class="col-2 col-10">
      <div class="page-head">

        <div class="page-info">
          <h1 class="page-title">{{ page.title | escape }}</h1>
        </div>

      </div>

      <article class="page">
        <div class="page__content">
          {% if page.toc == true %}
          <div class="page__toc">
            <h2 class="page__toc__title">Table of Contents</h2>
            {% include toc.html html=content ordered=true class="page__toc__list" h_min=2 %}
          </div>
          {% endif %}

          {{ content }}
        </div>
      </article>
    </div>

  </div>
</div>
<!-- end page -->