---
layout: default
---

<!-- begin page -->
<section class="section page">
  <div class="container">
    <div class="section__inner">
      
      <section class="hero-page">
        <div class="hero-page__inner">
          <h1 class="hero-page__title">{{ page.title }}</h1>
          {% if page.description %}
          <p class="hero-page__description">{{ page.description }}</p>
          {% endif %}
        </div>
      </section>

      <article class="page">
        <div class="page__content">
          {% if page.toc == true %}
          <div class="page__toc">
            <h2 class="page__toc__title">Table of Contents</h2>
            {% include toc.html html=content ordered=true class="page__toc__list" h_min=2 %}
          </div>
          {% endif %}

          {{ content }}
        </div>
      </article>

    </div>
  </div>
</section>
<!-- end page -->